@model IEnumerable<Esercitazione_M5_Seconda_Settimana.Models.Prenotazione>

@{
    ViewData["Title"] = "Lista Prenotazioni";
}


<div class="container">
    <h1 class="text-center">Lista Prenotazioni</h1>
    <div class="row justify-content-center">
        <table class="table mt-4 myBorder text-center">
            <thead>
                <tr class="myBorder text-nowrap">
                    <th class="border-bottom-0 p-2">Id. Prenotazione</th>
                    <th class="border-bottom-0 p-2">Data Prenotazione</th>
                    <th class="border-bottom-0 p-2">Num. Progressivo</th>
                    <th class="border-bottom-0 p-2">@Html.DisplayNameFor(model => model.Anno)</th>
                    <th class="border-bottom-0 p-2">Data Inizio Soggiorno</th>
                    <th class="border-bottom-0 p-2">Data Fine Soggiorno</th>
                    <th class="border-bottom-0 p-2">@Html.DisplayNameFor(model => model.Caparra)</th>
                    <th class="border-bottom-0 p-2">@Html.DisplayNameFor(model => model.Tariffa)</th>
                    <th class="border-bottom-0 p-2">Tipo Pensione</th>
                    <th class="border-bottom-0 p-2">Id. Cliente</th>
                    <th class="border-bottom-0 p-2">Id. Camera</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="text-nowrap">
                        <td class="py-3">@Html.DisplayFor(modelItem => item.IdPrenotazione)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.DataPrenotazione)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.NumProgressivo)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.Anno)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.SoggiornoDal)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.SoggiornoAl)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.Caparra)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.Tariffa)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.PensioneCompleta)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.IdCliente)</td>
                        <td class="py-3">@Html.DisplayFor(modelItem => item.IdCamera)</td>
                        <td class="py-3">
                            <a class="myBtn" asp-controller="Prenotazioni" asp-action="Checkout" asp-route-id="@item.IdPrenotazione">Checkout</a>
                        </td>
                        <td class="py-3">
                            <a class="myBtnTwo" asp-controller="Prenotazioni" asp-action="CreaPrenotazioneServizio" asp-route-id="@item.IdPrenotazione">Aggiungi Servizi</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>
